h1{color:rgb(151, 75, 75); text-align: center; text-decoration: overline; text-transform:uppercase;}
body{background-color: blanchedalmond; font-family: "Rubik", sans-serif}
p{letter-spacing:1px; word-spacing: 3px; text-indent: 15px; line-height: 50px; font-weight: 500;}