body{background-color: #673AB7; text-align: center;}
h1{font-size: 40px; color:#ffeb3b; text-align: center;}
h2{font-size: 25px; color:#ffc107; text-align: center;}
p{font-size: 18px; color:#cddc39; text-align: center;}
em{color:#ff5722;}