:root{
    --primary-color: red;
    --text-color: blue;
    --button-color: green;
}

div{
    background-color: var(--primary-color);
    height: 200px;
    width: 200px;
}

button{
    background-color: var(--button-color);
}

h1, p{
    color: var(--text-color);
}