.all{
    overflow: hidden;
    width: 200px;
    display: block;
    margin: 150px 600px;
}

h1{
    font-family: 'poppins', sans-serif;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

.a{
    border: 5px solid blue;
    text-align: center;
    color: blue;
    border-radius: 20%;
    margin-left: 50px;
}

.b{
    border: 5px solid red;
    text-align: center;
    color: red;
    border-radius: 20%;
    float: left;
    margin-left: 25px;
}

.c{
    border: 5px solid lawngreen;
    text-align: center;
    color: lawngreen;
    border-radius: 20%;
}

.d{
    border: 5px solid blue;
    text-align: center;
    color: blue;
    border-radius: 20%;
    float: left;
}

.e{
    border: 5px solid red;
    text-align: center;
    color: red;
    border-radius: 20%;
    float: left;

}

.f{
    border: 5px solid lawngreen;
    text-align: center;
    color: lawngreen;
    border-radius: 20%;
    float: left;
}