.imgs{
    width: inherit;
}

.div1{
    width: 200px;
}

.sh1{
    background-color: antiquewhite;
    width: 110px;
    height: 110px;
    overflow: scroll;
}

/*Bohet hide teksti i tepert */
.sh2{
    background-color: bisque;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.sh3{
    background-color: rgb(251, 84, 212);
    width: 110px;
    height: 110px;
    overflow: auto;
}

.d1{
    background-color: chartreuse;
    height: 200px;
    width: 200px;
    float: right;
}

.d2{
    background-color: cyan;
    height: 200px;
    width: 200px;
    float: left;
}