.hello{
    border: 3px solid red;
    background-color: blue;
    color: white;
    padding: 10px;
}

.text{
    height: 600px;
    width: 400px;
    border: 2px dotted black;
    background-color: yellow;
    margin-top: 50px;
}

.link{
    border-bottom: 3px dashed orange ;
}