
/* Always do this!! */
img{
    max-width: 100%;
    display: block;
}

body{
    margin: 0;
}

@media(max-width: 600px){
    body{
        background-color: red;
    }

    img{
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 300px){
    body{
        background-color: green;
    }
}