 .container{
    display: flex;
    height: 100px;
    background-color: #f0f0f0;
}

.item{
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.justify-content{
    justify-content: center;
}

/* Align items */
.container{
    display: flex;
    height: 100px;
    background-color: #f0f0f0;
}

.item{
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.align-items{
    align-items: flex-start; /* Stretch, center, flex-end, flex-start, baseline */
}

 /* Flex direction */
.container{
    display: flex;
    height: 100px;
    background-color: #f0f0f0;
}

.item{
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.flex-direction{
    flex-direction: row;
}

/* Flex wrap */
.container{
    display: flex;
    height: 100px;
    flex-wrap: wrap; /*wrap, nowrap, wrap-reverse */
    background-color: #f0f0f0;
}

.item{
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
    flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis*/
}

.item:nth-child(1){
    order: 3;
}

/* align content */
.align-content{
    align-content: center; /* flex-start, center, flex-end, space-between, space-around*/
}