h1 {
    text-align: center;
}

p {
    color: red;
    border: 3px solid blue;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    margin: 20px auto;
    width: fit-content;
}

div {
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
}

div img {
    border: 1px solid black;
    width: 600px;
    height: 300px;
}

h4 {
    color: red;
}

h5 {
    color: blue;
}
