.containter{
    display: flex;
    justify-content: space-between;
}

.column{
    flex: 1;
    padding: 10px;
}

.column img{
    width: 100%;
    opacity: 0.3;
}

.column img:hoover{
    cursor: pointer;
    opacity: 1;
}