table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: rgb(57, 243, 57);
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}